.about-main-container {
    height: 100vh;
    width: 100vw;
    padding-top: 27vh;
    font-family: 'Merriweather', serif;
    font-size: 3vw;
}

.about-heading {
    font-family: 'Merriweather', serif;
    font-size: 3vw;
    color: rgb(99, 97, 97);
}